<div class="container">

  <div class="alert alert-dismissible alert-danger" *ngIf="showAlert">
    <button type="button" class="close" data-dismiss="alert" (click)="hideAlert()" >&times;</button>
    {{alertMessage}}
  </div>

  <div>
    <form [formGroup]="addItemForm" (ngSubmit)="addItem()">
      <legend>Add New Item to inventory: </legend>
      <div class="row">
        <div class="form-group col-md-3">
          <label>
            Item Name:
          </label>
          <input type="text" formControlName="itemName" class="form-control" required
                 [ngClass]="{ 'is-invalid': itemFormControls.itemName.errors && (itemFormControls.itemName.dirty || itemFormControls.itemName.touched) }" />
          <div *ngIf="itemFormControls.itemName.errors" class="invalid-feedback">
            <div *ngIf="itemFormControls.itemName.errors.required">Item Name is required</div>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label>
            Available Quantity:
          </label>
          <input type="text" formControlName="availableQuantity" class="form-control"
                 pattern="[0-9]*" required
                 [ngClass]="{ 'is-invalid': itemFormControls.availableQuantity.errors && (itemFormControls.availableQuantity.dirty || itemFormControls.availableQuantity.touched) }" />
          <div *ngIf="itemFormControls.availableQuantity.errors" class="invalid-feedback">
            <div *ngIf="itemFormControls.availableQuantity.errors.required">Quantity is required</div>
            <div *ngIf="itemFormControls.availableQuantity.errors.pattern">Quantity should be numeric</div>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label>
            Retailer Price:
          </label>
          <input type="text" formControlName="retailerPrice" class="form-control" required
                 [ngClass]="{ 'is-invalid': itemFormControls.retailerPrice.errors && (itemFormControls.retailerPrice.dirty || itemFormControls.retailerPrice.touched) }" />
          <div *ngIf="itemFormControls.retailerPrice.errors" class="invalid-feedback">
            <div *ngIf="itemFormControls.retailerPrice.errors.required">Retailer price is required</div>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label>
            Wholesaler Price:
          </label>
          <input type="text" formControlName="wholesalerPrice" class="form-control" required
                 [ngClass]="{ 'is-invalid': itemFormControls.wholesalerPrice.errors && (itemFormControls.wholesalerPrice.dirty || itemFormControls.wholesalerPrice.touched) }" />
          <div *ngIf="itemFormControls.wholesalerPrice.errors" class="invalid-feedback">
            <div *ngIf="itemFormControls.wholesalerPrice.errors.required">Wholesaler price is required</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="!addItemForm.valid" class="btn btn-success" >Add Item</button>
      </div>
    </form>
  </div>
  <hr>

  <div>
    <legend>Update Item of inventory: </legend>
    <div class="row">
      <div class="form-group col-md-3">
        <label>
          Item Name:
        </label>
        <ng-select [items]="items"
                   [(ngModel)]="selectedItem"
                   bindLabel="itemName"
                   autofocus>
        </ng-select>
      </div>
      <div class="form-group col-md-3">
        <label>
          Quantity:
        </label>
        <form [formGroup]="updateItemForm">
          <input type="text" formControlName="quantity" class="form-control"
                 pattern="[0-9]*" required
                 [ngClass]="{ 'is-invalid': updateItemFormControls.quantity.errors && (updateItemFormControls.quantity.dirty || updateItemFormControls.quantity.touched) }" />
          <div *ngIf="updateItemFormControls.quantity.errors" class="invalid-feedback">
            <div *ngIf="updateItemFormControls.quantity.errors.required">Quantity is required</div>
            <div *ngIf="updateItemFormControls.quantity.errors.pattern">Quantity should be numeric</div>
          </div>
        </form>
      </div>
      <div class="form-group col-md-2">
        <label style="visibility:hidden">
          Add
        </label>
        <button class="form-control btn-success" type="button" (click)="updateQuantity('add')">Add Quantity</button>
      </div>
      <div class="form-group col-md-2">
        <label style="visibility:hidden">
          Update
        </label>
        <button class="form-control btn-warning" type="button" (click)="updateQuantity('update')">Update Quantity</button>
      </div>
      <div class="form-group col-md-2">
        <label style="visibility:hidden">
          Remove
        </label>
        <button class="form-control btn-danger" type="button" (click)="updateQuantity('delete')">Remove Quantity</button>
      </div>
    </div>
  </div>
  <hr>

  <legend>Available Items in Inventory</legend>
  <div class="input-group" style="padding-bottom:10px;">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchKeyWord" autocomplete="off" placeholder="Start searching item in inventory"/>
  </div>

  <div id="inventoryItemTable" style="overflow:scroll;max-height:400px;">
    <table class="table table-bordered table-responsive-md table-striped text-center">
      <thead>
      <tr>
        <th class="text-center">Item Name</th>
        <th class="text-center">Available Quantity</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items | filter:searchKeyWord; let id = index">
        <td>
          <span *ngIf="item.availableQuantity > 10" class="isInAmple">{{item.itemName}}</span>
          <span *ngIf="item.availableQuantity > 0 && item.availableQuantity <= 10" [ngClass]="{ 'isLow': item.availableQuantity <= 10 }">{{item.itemName}}</span>
          <span *ngIf="item.availableQuantity == 0" [ngClass]="{ 'isUnavailable': item.availableQuantity == 0 }">{{item.itemName}}</span>
        </td>
        <td>
          <span *ngIf="item.availableQuantity > 10" class="isInAmple">{{item.availableQuantity}}</span>
          <span *ngIf="item.availableQuantity > 0 && item.availableQuantity <= 10" [ngClass]="{ 'isLow': item.availableQuantity <= 10 }">{{item.availableQuantity}}</span>
          <span *ngIf="item.availableQuantity == 0" [ngClass]="{ 'isUnavailable': item.availableQuantity == 0 }">{{item.availableQuantity}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
