<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="assets/img/inventory.png">
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <nav class="navbar navbar-expand">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item my-nav">
          <span style="padding-right:5px;"  [ngClass]="{'myClass': editor=='retailer'}">
            <a (click)="toggleEditor('retailer')" >Retailer</a>
          </span>
        </li>
        <li class="nav-item my-nav">
          <span style="padding-right:5px;" [ngClass]="{'myClass': editor=='wholesaler'}">
            <a (click)="toggleEditor('wholesaler')">Wholesaler</a>
          </span>
        </li>
        <li class="nav-item my-nav" [ngClass]="{'myClass': editor=='inventory'}">
          <span style="padding-right:5px;">
            <a (click)="toggleEditor('inventory')">Inventory</a>
          </span>
        </li>
      </ul>
    </div>
  </nav>
  <hr>
  <app-retailer *ngIf="showRetailerEditor"></app-retailer>
  <app-wholesaler *ngIf="showWholesalerEditor"></app-wholesaler>
  <app-inventory *ngIf="showInventoryEditor"></app-inventory>
</div>


<!--The content below is only a placeholder and can be replaced.-->
<div style="padding-top:100px;">
  <nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
      Developed by <a href="https://github.com/akale3">Aditya</a>
    </div>
  </nav>
</div>

